
<%=render "form"%><br>

<h3>
You can find your expenses
  <small class="text-muted"> by specific categorey</small>
</h3>
<div><br>
<%= form_with url: "/expenses" do |form| %>

<%= form.check_box :Education %>
<%= form.label "Education" %>
<%= form.check_box :Food  %>
<%= form.label  "Food" %>
<%=form.check_box :Housing %> 
<%=form.label  "Housing" %> 
<%=form.check_box :Transporation%> 
<%= form.label  "Transporation" %> 
<%= form.check_box :Clothing %>
<%= form.label  "Clothing" %>
 <%=form.label "Type:"%>
 
<%= form.select :date, ["Today", "Last week", "Last month","Last year","All"], autofocus: true%>


<%=form.submit :search%>

<%end%>
<br>
</div>
<%if !@expenses.empty?%>
<%sum=0%>
<%@expenses.each do |e|%>
<%sum+=e.price%>
<%end%>
<b>Total: </b><%=sum%><br>
<table class="table" class="table-primary">
  <thead>
    <tr >
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Type</th>
      <th scope="col">DATE</th>
      
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
     <%@expenses.to_a.reverse.each do |e|%>
  <tr>
    <td><%=e.title%></td>
    <td><%=e.price%></td>
    <td><%=e.type_of_expenses%></td>
    <td><%=e.date%></td>
   
   
    <td><a type="button" class="btn btn-outline-success" href="/expenses/<%=e.id%>/edit">Edit</a></td>
    <td><a type="button" class="btn btn-outline-success" data-turbo-method="delete" href="/expenses/<%=e.id%>">Destroy</a></td>
    
  </tr>
  </tbody>
  <%end%>
</table>
<%end%>


