<%=render "form"%>
<h3>
You can find your expenses
  <small class="text-muted"> by specific categorey</small>
</h3>
<div>
<%= form_with url: "/expenses" do |form| %>

<%= form.check_box :Education %>
<%= form.label "Education" %>
<%= form.check_box :Food  %>
<%= form.label  "Food" %>
<%=form.check_box :Housing %> 
<%=form.label  "Housing" %> 
<%=form.check_box :Transporation%> 
<%= form.label  "Transporation" %> 
<%= form.check_box :Clothing %>
<%= form.label  "Clothing" %>
 <%=form.label "Type:"%>
 
<%= form.select :date, ["Today", "Last week", "Last month","Last year","All"], autofocus: true%>


<%=form.submit :search%>

<%end%>
</div>
<%if !@expenses.empty?%>
<table class="table" class="table-primary">
  <thead>
    <tr >
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Type</th>
      <th scope="col">DATE</th>
      
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
     <%@expenses.to_a.reverse.each do |e|%>
  <tr>
    <td><%=e.title%></td>
    <td><%=e.price%></td>
    <td><%=e.type_of_expenses%></td>
    <td><%=e.date%></td>
   
    <td><%=link_to "Edit", "/expenses/#{e.id}/edit"%></td>
    <td><%= link_to "Destroy", "/expenses/#{e.id}" , data: {
                    turbo_method: :delete
                    
                  } %></td>
    
  </tr>
  </tbody>
  <%end%>
</table>
<%end%>


